/*
html
- Se ajusta el tamaño minimo de la pagina al 100%
- Se cambia la posicion a relativa para que cubra todo el espacio de la pagina y no solo la pantalla
- Se añade una separacion abajo para dejar espacio al footer
*/
html {
    min-height: 100%;
    position: relative;
    padding-bottom: 180px;
}

/*
Todos los elementos
- Se cambia el tipo de fuente del texto
*/
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*
Cabecera
- Se cambia la anchura al 100% de la pagina
- Se cambia el color de fondo y el color de letra
*/
header {
    width: 100%;
    background-color: rgb(0, 165, 162);
    color: white;
}

/*
Elementos con clase .company-name
- Se cambia el color de fuente
*/
.company-name {
    color: rgb(1, 61, 134);
}

/*
Elementos con clase .nav, .nav-pills y .blue
- Se añade un padding de 5 pixeles
- Se cambia el color de fondo
*/
.nav.nav-pills.blue {
    padding: 5px;
    background-color: rgb(4, 145, 143);
}

/*
Elemento con clase .nav-item dentro de clase .blue (elementos del menu de navegacion azul)
- Se cambia el color de letra de los items con clase .nav-link a blanco (elementos del menu de navegacion)
- Se cambia el color de fondo de los items con clase .nav-link y .active (elementos activos del menu de navegacion)
*/
.blue .nav-item {
    .nav-link {
        color: white;
    }
    .nav-link.active {
        background-color: rgb(1, 61, 134);
    }
}

/*
Elementos con clase .Title
- Se cambia el tamaño y el color de letra
*/
.title {
    color: rgb(0, 165, 162);
}

/*
Elementos con clase .DarkTheme
- Se cambia el fondo de color
- Se cambia el color de los elementos con clase .BodyText
*/
.dark-theme {
    background-color: rgb(21, 30, 33);
    .BodyText {
        color: white;
    }
}

/*
Pie de pagina
- Se cambia la posicion a absoluta, la anchura al 100%, altura a 140 pixeles y se desplaza a abajo
- Se cambia el color de fondo y el tamaño y color de letra
*/
footer {
    position: absolute;
    width: 100%;
    height: 140px;
    bottom: 0;

    background-color: rgb(0, 165, 162);
    font-size: 0.35cm;
    color: white;
}

/*
Elementos con ID #img-carousel y #img-grid
- Para pantallas pequeñas, se muestra el carrusel y se oculta el grid de imagenes
*/
#img-carousel {
    display: block;
}

#img-grid {
    display: none;
}

/* Media Query para pantallas mas anchas de 768 pixeles */
@media screen and (min-width: 768px) {
    /*
    Elementos con ID #img-carousel y #img-grid
    - Para pantallas más grandes, se muestra el grid y se oculta el carrusel
    */
    #img-carousel {
        display: none;
    }
    
    #img-grid {
        display: flex;
    }
}